@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');


@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Cabin+Condensed&display=swap');



:root{
      --primary-color: #333333;
      --dark-color:#111111;
      --max-width: 60rem;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container {
      margin: 2.5rem 5rem 0.7rem 5rem;
      max-width: var(--max-width);
}

#main-header {
      font-family: 'B612 Mono', monospace;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
}

#main-header a {
      color: var(--primary-color);
      background: #fff;
}

#main-header .right-header {
transition: all 0.3s ease-in;
}
#main-header .right-header:hover{
      cursor: pointer;
      color: ch;
}

#main-header .left-header {
      display: flex;
      align-items: center;
}

#main-header .left-header .socials {
      margin:  0 0.95rem;
}
#main-header .left-header .socials a {
   padding: 0 .5rem;
}

#main-header .left-header .search input,
#main-header .left-header .search a {
      padding: .4rem;
    
}

#main-header .left-header .search input {
      outline: none;
      border-radius: 30px;
      padding: 0.75rem 1.3rem;
      border: 1px solid  #999;
      border-top: #999;
      border-left: #999;
      border-right: #999;
     
}

#main-header .left-header .search  i {
      /* color: #fff; */
     color: #fff;
      border-radius: 25px;
      background: #333;
      padding: 0.75rem 1.3rem;
      transition: background 0.5s ease-in;
}
#main-header .left-header .search  i:hover{
      background: rgb(78, 151, 4);
}

#navbar { 
      overflow: hidden;
      padding: 1.5rem;
      z-index: 2;
      background: #fff;
}

.sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

#navbar .list {
      display: flex;
      justify-content: space-between;
      font-family:'B612 Mono', monospace;
      font-size: 13px;
      max-width: 600px;
      margin-bottom: 0.9rem;
      padding-left: 3.3rem;
}

#navbar .list li{
      list-style: none;
}
#navbar .list li a {
      text-decoration: none;
      color: var(--primary-color);
}

hr{
      opacity: 0.1;
      width: 100vw;
  
}

/* Section : Chef */
#chef{
      display: flex;
      justify-content: space-between;
      margin-top: 4rem; 
      overflow: hidden;
      font-family: 'Cabin Condensed', sans-serif;
}

#chef a {
      color: var(--primary-color);
      background: #fff;
      padding: 0.5rem 0.9rem;
      border-radius: 5px;
      position: fixed;
      top: 9rem;
      z-index : 2;
}

#chef  .inner-chef{
display: flex;
margin: 0 2.7rem;
animation-name: carousel;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: 7s;
}

@keyframes carousel{
      to{
            transform: translateX(-1200px);
      }
}
#chef  .inner-chef  .chef-img {
max-width: 50%;
}
#chef  .inner-chef  .chef-text{
      max-width: 50%;
      padding: 3rem;
      background: #f8f9fa;
}
#chef  .inner-chef  .chef-text h4{
      font-size: 10px;
      color: #999;
      margin-bottom: .5rem;
}
#chef  .inner-chef  .chef-text h2{
      word-spacing: 0.4rem;
      margin-bottom: .5rem ;
}
#chef  .inner-chef  .chef-text p {
      line-height: 1.7;
      margin-bottom: .9rem;
      color: #999;
      font-size: 12px;
      line-height: 1.4;
}
#chef  .inner-chef  .chef-text h5 {
      color: #666;
      margin-bottom: .9rem;}
#chef  .inner-chef  .chef-text small{
display: inline-block;
color: #999;
}

#line {
      display: flex;
      margin: 4rem auto;
      justify-content: center;
      align-items: center;
}
#line a {
      height: 4px;
      width: 30px;
      background: rgb(78, 151, 4);
      margin: .3rem;
}
#line .first{
      background: #888;
}

#news {
      display: flex;
      flex-basis: 1;
      justify-content: space-between;
      overflow: hidden;
      margin: 0 4.5rem;

}

#news .editor,
#news .blank,
#news .trending{
display: flex;
flex-direction: column;
margin: 0.5rem;
max-width: 32%;
font-family: Arial, Helvetica, sans-serif
}

#news .editor img{
      margin-bottom: 2rem
}
#news .editor h2{
      font-size:  1.2rem;
      margin-bottom: 1rem;
}
#news .editor p {
      font-size: 12px;
      color: #666;
      margin-bottom: 1rem;
      line-height: 1.4;
}
#news .editor small{
      font-size: 10px;
      color: #444
}

#news .blank .one,
#news .blank .two,
#news .blank .three{
display: flex;
margin-bottom: 1rem;
/* object-fit: cover; */
}

#news .blank h2{
}

